<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="./static/csss/bootstrap.min.css">
    <link rel="stylesheet" href="./static/csss/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <title>Telemedicine App</title>
  </head>
<body>
<!--navbar--->
    <header>
      <!--head-->
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="top_header">
              <div class="row">
                <div class="col-md-6 col-sm-6 col-6">
                  <span class="text-left mr-4"> <i class="fas fa-phone mr-1"></i> +880 1623831121</span>
<!--                  <span class="text-left"> <i class="fas fa-envelope mr-1"></i> googlealpha@gmail.com</span>-->
                </div>
                <div class="col-md-6 col-sm-6 col-6 text-right">
                 <i class="fab fa-twitter mr-2"></i>
                 <i class="fab fa-facebook-square mr-2"></i>
                 <i class="fab fa-google-plus-g mr-2"></i>
                 <i class="fab fa-pinterest"></i>
               </div>
           </div>
          </div>
        </div>
      </div>
    </div>
    <!--head-->
    <!--navbar--->
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <nav class="navbar navbar-expand-lg navbar-light nav-edit">
            <a class="navbar-brand" href="#">
<!--              <img src="./static/imagess/logo.png" />-->
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse " id="navbarsExample09">
              <ul class="navbar-nav mx-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item ml-2">
                  <a class="nav-link" href="#">About Us</a>
                </li>
                <li class="nav-item ml-2">
                  <a class="nav-link" href="/Service">Service</a>
                </li>
                <li class="nav-item ml-2">
                  <a class="nav-link" href="/Doctors">Doctors</a>
                </li>
                <li class="nav-item ml-2">
                  <a class="nav-link" href="/login">Sign in</a>
                </li>
                <li class="nav-item ml-2">
                  <a class="nav-link" href="/registration">Sign up</a>
                </li>
                <li class="nav-item ">
                  <a class="nav-link" href="/contact">Contact Us</a>
                </li>

              </ul>
<!--              <span class="my-2 my-md-0">-->
<!--                <a href="#" class="myButton shadow">Book Now</a>-->
<!--              </span>-->
            </div>
          </nav>
        </div>
      </div>
    </div>
    <!--navbar--->
  </header>
  <!--header--->
  <!--carousel--->

<section class="doctor_s">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="doctor_detiles text-center">
              <h3> Our Doctors</h3>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="team_edit my-5">
              <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="box15">
                        <img src="./static/imagess/dt1.jpg"  alt="">
                        <div class="box-content   text-center">
                          <div class="top_edit">
                            <h3> Dr.A</h3>
                            <p> CEO Clinic</p>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="box15">
                        <img src="./static/imagess/dt2.jpg" alt="">
                        <div class="box-content   text-center">
                          <div class="top_edit">
                            <h3> Dr.B</h3>
                            <p> CEO Clinic</p>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="box15">
                        <img src="./static/imagess/dt3.jpg"  alt="">
                        <div class="box-content   text-center">
                          <div class="top_edit">
                            <h3> Dr.C</h3>
                            <p> CEO Clinic</p>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="box15">
                        <img src="./static/imagess/dt4.jpg"  alt="">
                        <div class="box-content   text-center">
                          <div class="top_edit">
                            <h3> Dr.D</h3>
                            <p> CEO Clinic</p>
                          </div>
                        </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="./static/jss/bootstrap.min.js"></script>
    <script src="./static/jss/jquery.counterup.js"></script>
</body>
</html>